@model CENV_JMH.DO.ShowingInstance

<div>
    <h4>ShowingInstance</h4>
    <hr />
    <dl class="row">
        @*<dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>*@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Showing.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Showing.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hall.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hall.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SeatsSold)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SeatsSold)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Index" >Back to List</a>*@
</div>
<form asp-action="BuyTickets" method="post">
    <div hidden>@Model.ID</div>
    <button class="btn-dark" type="submit">Buy Tickets</button>
</form>
