@model IEnumerable<CENV_JMH.DO.Showing>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Showings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr  onclick="location.href='AdminShowingDetail/Index?id=' + @item.ShowingID" style="cursor : pointer">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice) &euro;
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShowingID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.ShowingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
