@model IEnumerable<CENV_JMH.DO.Showing>


<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketPrice)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr onclick="location.href='@Url.Action("Index", "ShowingDetail", new { id = item.ShowingID })'" style="cursor:pointer">
                <td>
                    <img src="" alt="@item.Name" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TicketPrice) &euro;
                </td>
            </tr>
        }
    </tbody>
</table>
