@model CENV_JMH.DO.Hall

@{
    ViewData["Title"] = "Details";
}

<h1>Details Hall</h1>

<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.MaxNumberOfPlaces)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.MaxNumberOfPlaces)
        </dd>
       
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HallID }) |
    <a asp-action="Index">Back to List</a>
</div>
